<section id="about" class="about">
    <div class="about__wrapper">
        <div class="about__header">Fish Butchery — современная городская рыбная лавка в центре Москвы.</div>
        <p class="about__parag">В основе нашей работы лежит четыре направления:</p>
        <p class="about__parag"><span>Fine Cut & Service.</span> Мы стремимся постоянно совершенствовать свои навыки в ремесле
            обработки рыбы. Сервис для нас – создание максимального комфорта для клиента и его гастрономических
            увлечений. Максимально возможно короткие сроки поставки только что обработанной рыбы. Мы не храним рыбу
            больше двух суток и ограничиваем ассортимент для её оборачиваемости.</p>
        <p class="about__parag"><span>Регулярные поставки от лучших поставщиков.</span> Качество рыбы и стабильность поставок —
            это то, что мы прежде всего ценим в наших партнёрах. Ключевое наше направление — это охлаждённая
            продукция. Мы против заморозки!</p>
        <p class="about__parag"><span>Контролируемая ферментация.</span> Мы разделяем энтузиазм ведущих профессионалов в области
            контролируемой ферментации продуктов и стараемся применять их опыт в своей работе.</p>
        <p class="about__parag"><span>Гастрономия.</span> Мы верим, что способны расширить гастрономические горизонты, используя удачные сочетания максимально свежих продуктов.</p>
    </div>
    <picture class="about__bckg">
        <source type="image/webp" srcset="./img/aboutus.webp">
        <img class="about__bckg" src="./img/aboutus.jpg" alt="О нас">
    </picture>
    <div class="about__filter"></div>
</section>