
<form class="admin-login">

    <input class="admin-input" type="text" placeholder="логин" name="username" autofocus>
    <input class="admin-input" type="password" placeholder="пароль" name="password">
    <input type="submit" value="Войти">
</form>
<div class="shadow"></div>
