<section class="category beverage">
    <div class="container">
        <h2 class="category__title" id="beverage">Напитки</h2>
        <div class="category__wrapper">
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/beverage/panna.webp">
                            <img class="category__item_img" src="./img/products/beverage/panna.jpg" alt="Acqua Panna">
                        </picture>
                    </div>
                    <div class="category__item_name">Acqua Panna 0.5 л</div>
                    <div class="category__item_price">140 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/beverage/san_pellegrino.webp">
                            <img class="category__item_img" src="./img/products/beverage/san_pellegrino.jpg" alt="San Pellegrino">
                        </picture>
                    </div>
                    <div class="category__item_name">San Pellegrino 0.5 л</div>
                    <div class="category__item_price">160 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/beverage/perrier.webp">
                            <img class="category__item_img" src="./img/products/beverage/perrier.jpg" alt="Perrier">
                        </picture>
                    </div>
                    <div class="category__item_name">Perrier</div>
                    <div class="category__item_price">140 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
        </div>
    </div>
</section>