<section class="carousel" tabindex="0">
    <div class="carousel__slides">
        <div class="carousel__slide">
            <div class="carousel__slide-content">
                <h2 class="carousel__slide-title">
                    FISH BUTCHERY - РЫБНАЯ ЛАВКА НОВОГО ФОРМАТА
                </h2>
                <p class="carousel__slide-description">
                    Разделка и доставка охлажденной рыбы в Москве в течении двух часов.
                    Бесплатная доставка от 2 000 ₽ по Москве и от 5 000 ₽ по Московской области.
                </p>
                <p class="carousel__slide-description">
                    Мы приступаем к разделке только после получения заказа, а значит вы получаете на стол самую свежую рыбу.
                </p>
            </div>
            <img class="carousel__slide-image" src="./img/main.jpg" alt="main-photo">
        </div>
        <div class="carousel__slide">
            <img class="carousel__slide-image" src="./img/kitten-2965641_1920.jpg" alt="kitten">
        </div>
    </div>
    <div class="carousel__controls"></div>
</section>