<section class="category caviar">
    <div class="container">
        <h2 class="category__title" id="caviar">Икра</h2>
        <div class="category__wrapper">
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/caviar/caviar_trout.webp">
                            <img class="category__item_img" src="img/products/caviar/caviar_trout.jpg" alt="Икра форели">
                        </picture>
                    </div>
                    <div class="category__item_name">Икра форели</div>
                    <div class="category__item_price">от 510 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/caviar/caviar_pink_salmon.webp">
                            <img class="category__item_img" src="img/products/caviar/caviar_pink_salmon.png" alt="Икра горбуши">
                        </picture>
                    </div>
                    <div class="category__item_name">Икра горбуши</div>
                    <div class="category__item_price">от 520 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/caviar/caviar_red_salmon.webp">
                            <img class="category__item_img" src="img/products/caviar/caviar_red_salmon.png" alt="Икра нерки">
                        </picture>
                    </div>
                    <div class="category__item_name">Икра нерки</div>
                    <div class="category__item_price">от 550 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/caviar/caviar_sturgeon.webp">
                            <img class="category__item_img" src="img/products/caviar/caviar_sturgeon.png" alt="Икра осетровая">
                        </picture>
                    </div>
                    <div class="category__item_name">Икра осетровая</div>
                    <div class="category__item_price">от 10 900 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
        </div>
    </div>
</section>