<section class="category cooled">
    <div class="container">
        <h2 class="category__title" id="cooled">Охлаждённая рыба</h2>
        <div class="category__wrapper">
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/salmon_steak.webp">
                            <img class="category__item_img" src="img/products/fresh/salmon_steak.jpg" alt="Стейк сёмги">
                        </picture>
                    </div>
                    <div class="category__item_name">Стейк сёмги</div>
                    <div class="category__item_price">850 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/salmon_filet1.webp">
                            <img class="category__item_img" src="img/products/fresh/salmon_filet1.jpg" alt="Филе сёмги">
                        </picture>
                    </div>
                    <div class="category__item_name">Филе сёмги</div>
                    <div class="category__item_price">от 650 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/salmon_medal.webp">
                            <img class="category__item_img" src="img/products/fresh/salmon_medal.jpg" alt="Медальон из сёмги">
                        </picture>
                    </div>
                    <div class="category__item_name">Медальон из сёмги</div>
                    <div class="category__item_price">690 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/trout1.webp">
                            <img class="category__item_img" src="img/products/fresh/trout1.jpg" alt="Форель">
                        </picture>
                    </div>
                    <div class="category__item_name">Форель</div>
                    <div class="category__item_price">от 850 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="img/products/fresh/dorado2.webp">
                            <img class="category__item_img" src="img/products/fresh/dorado2.jpg" alt="Дорада">
                        </picture>
                    </div>
                    <div class="category__item_name">Дорада</div>
                    <div class="category__item_price">550 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/seabass1.webp">
                            <img class="category__item_img" src="img/products/fresh/seabass1.jpg" alt="Сибас">
                        </picture>
                    </div>
                    <div class="category__item_name">Сибас</div>
                    <div class="category__item_price">550 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/sudak1.webp">
                            <img class="category__item_img" src="img/products/fresh/sudak1.jpg" alt="Судак">
                        </picture>
                    </div>
                    <div class="category__item_name">Судак</div>
                    <div class="category__item_price">990 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/sterlet1.webp">
                            <img class="category__item_img" src="img/products/fresh/sterlet1.jpg" alt="Стерлядь">
                        </picture>
                    </div>
                    <div class="category__item_name">Стерлядь</div>
                    <div class="category__item_price">1 800 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/mullet1.webp">
                            <img class="category__item_img" src="img/products/fresh/mullet1.jpg" alt="Кефаль">
                        </picture>
                    </div>
                    <div class="category__item_name">Кефаль</div>
                    <div class="category__item_price">790 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/carp1.webp">
                            <img class="category__item_img" src="img/products/fresh/carp1.jpg" alt="Карп">
                        </picture>
                    </div>
                    <div class="category__item_name">Карп</div>
                    <div class="category__item_price">620 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fresh/soup.webp">
                            <img class="category__item_img" src="img/products/fresh/soup.jpg" alt="Суповой набор">
                        </picture>
                    </div>
                    <div class="category__item_name">Суповой набор</div>
                    <div class="category__item_price">150 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
        </div>
    </div>
</section>