<section class="category fermentation">
    <div class="container">
        <h2 class="category__title" id="fermentation">Лаборатория Ферментации</h2>
        <div class="category__wrapper">
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/gravlax.webp">
                            <img class="category__item_img" src="img/products/fermentation/gravlax.jpg" alt="гравлакс">
                        </picture>
                    </div>
                    <div class="category__item_name">Гравлакс</div>
                    <div class="category__item_descr">&nbsp;</div>
                    <div class="category__item_price">1 250 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/semga_slabosol_marlboro.webp">
                            <img class="category__item_img" src="img/products/semga_slabosol_marlboro.jpg" alt="Сёмга слабосолёная хлопья мальборо">
                        </picture>
                    </div>
                    <div class="category__item_name">Сёмга слабосолёная</div>
                    <div class="category__item_descr">Хлопья мальборо</div>
                    <div class="category__item_price">от 560 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/semga_slabosol_lemon.webp">
                            <img class="category__item_img" src="img/products/fermentation/semga_slabosol_lemon.jpg" alt="Сёмга слабосолёная лимон">
                        </picture>
                    </div>
                    <div class="category__item_name">Сёмга слабосолёная</div>
                    <div class="category__item_descr">Лимон/перец</div>
                    <div class="category__item_price">от 560 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/semga_slabosol_matcha.webp">
                            <img class="category__item_img" src="img/products/fermentation/semga_slabosol_matcha.jpg" alt="Сёмга слабосолёная матча">
                        </picture>
                    </div>
                    <div class="category__item_name">Сёмга слабосолёная</div>
                    <div class="category__item_descr">Матча</div>
                    <div class="category__item_price">от 560 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="img/products/fermentation/semga_slabosol_kurkuma.webp">
                            <img class="category__item_img" src="img/products/fermentation/semga_slabosol_kurkuma.jpg" alt="Сёмга слабосолёная куркума">
                        </picture>
                    </div>
                    <div class="category__item_name">Сёмга слабосолёная</div>
                    <div class="category__item_descr">Куркума</div>
                    <div class="category__item_price">от 560 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/tuna_marlboro.webp">
                            <img class="category__item_img" src="img/products/fermentation/tuna_marlboro.jpg" alt="Тунец ферментированный хлопья мальборо">
                        </picture>
                    </div>
                    <div class="category__item_name">Тунец ферментированный</div>
                    <div class="category__item_descr">Хлопья мальборо</div>
                    <div class="category__item_price">от 350 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/tuna_lemon.webp">
                            <img class="category__item_img" src="img/products/fermentation/tuna_lemon.jpg" alt="Тунец ферментированный джин тархун">
                        </picture>
                    </div>
                    <div class="category__item_name">Тунец ферментированный</div>
                    <div class="category__item_descr">Джин/тархун</div>
                    <div class="category__item_price">от 350 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/tuna_paprika.webp">
                            <img class="category__item_img" src="img/products/fermentation/tuna_paprika.jpg" alt="Тунец ферментированный паприка">
                        </picture>
                    </div>
                    <div class="category__item_name">Тунец ферментированный</div>
                    <div class="category__item_descr">Паприка</div>
                    <div class="category__item_price">от 350 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/tuna_lemon.webp">
                            <img class="category__item_img" src="img/products/fermentation/tuna_lemon.jpg" alt="Тунец ферментированный лимон перец">
                        </picture>
                    </div>
                    <div class="category__item_name">Тунец ферментированный</div>
                    <div class="category__item_descr">Лимон/перец</div>
                    <div class="category__item_price">от 350 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/fermentation/Sake_toba.webp">
                            <img class="category__item_img" src="img/products/fermentation/Sake_toba.jpg" alt="Саке тоба">
                        </picture>
                    </div>
                    <div class="category__item_name">Саке тоба</div>
                    <div class="category__item_descr">&nbsp;</div>
                    <div class="category__item_price">300 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
        </div>
    </div>
</section>