<section class="category seafood">
    <div class="container">
        <h2 class="category__title" id="seafood">Морепродукты</h2>
        <div class="category__wrapper">
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/seafood/Grebeshok.webp">
                            <img class="category__item_img" src="./img/products/seafood/Grebeshok.jpg" alt="Гребешок">
                        </picture>
                    </div>
                    <div class="category__item_name">Гребешок</div>
                    <div class="category__item_price">от 520 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/seafood/Grebeshok_krupny.webp">
                            <img class="category__item_img" src="./img/products/seafood/Grebeshok_krupny.jpg" alt="Гребешок крупный">
                        </picture>
                    </div>
                    <div class="category__item_name">Гребешок крупный</div>
                    <div class="category__item_price">760 р.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/seafood/Krevetki_tigrovye.webp">
                            <img class="category__item_img" src="./img/products/seafood/Krevetki_tigrovye.jpg" alt="Креветки тигровые">
                        </picture>
                    </div>
                    <div class="category__item_name">Креветки тигровые</div>
                    <div class="category__item_price">от 900 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/seafood/Krevetki_korolevskie.webp">
                            <img class="category__item_img" src="./img/products/seafood/Krevetki_korolevskie.jpg" alt="Креветки королевские">
                        </picture>
                    </div>
                    <div class="category__item_name">Креветки королевские</div>
                    <div class="category__item_price">от 600 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="img/products/seafood/Krab_falangi.webp">
                            <img class="category__item_img" src="img/products/seafood/Krab_falangi.jpg" alt="Краб фаланги">
                        </picture>
                    </div>
                    <div class="category__item_name">Краб фаланги</div>
                    <div class="category__item_price">3 080 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
            <div class="category__item">
                <a href="/" class="category__item_link">
                    <div class="category__item_img-wrapper">
                        <picture class="category__picture">
                            <source type="image/webp" srcset="./img/products/seafood/Krab_salatny.webp">
                            <img class="category__item_img" src="./img/products/seafood/Krab_salatny.jpg" alt="Краб салатный">
                        </picture>
                    </div>
                    <div class="category__item_name">Краб салатный</div>
                    <div class="category__item_price">2 400 руб.</div>
                    <div class="category__item_additional">Скоро будет</div>
                </a>
            </div>
        </div>
    </div>
</section>