<div class="catalog">
    <h2 class="catalog__title">Категории товаров</h2>
    <div class="catalog__items">
        <div class="catalog__item_add">
            <!--                <img class="catalog__item_add_img" src="./img/plus_PNG94.png" alt="plus_img">-->
        </div>
    </div>
</div>