<div class="menu">
    <button class="menu__item review_btn">Обзор</button>
    <button class="menu__item catalog_btn">Каталог</button>
    <button class="menu__item orders_btn">Заказы</button>
</div>